# project

<p style="text-align: right;">מגישים: ראובן ולטפרייד ואלירן לוי</p>

<p style="text-align: right;">הדאטה שבחרנו עוסקת במודעות דרושים מהשוק האמריקאי, דבר שמשמש על מנת לנתח לנתח את המגמות בשוק העבודה ולזהות את המשרות והכישורים הפופולריים והרווחיים ביותר</p>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
url1 = "https://raw.githubusercontent.com/Eli39603/Data-jobs-salaries-dataest/main/%D7%A4%D7%A8%D7%95%D7%99%D7%99%D7%A7%D7%98%20%D7%9E%D7%91%D7%95%D7%90%2011.csv"
Jobs_projekt = pd.read_csv(url1, encoding="utf-8")
Jobs_projekt.head()

,ID,Job,Jobs_Group,Profile,Remote,Company,Location,City,State,Salary,Frecuency_Salary,Low_Salary,High_Salary,Mean_Salary,Skills
0,sj_1e37379f40861c74,Business Analyst,Business Analyst,NaN,NaN,CyberCoders,"Torrington, CT 06790",Torrington,CT,"$80,000 - $110,000 por año",año,80000.0,110000.0,95000.0,[]
1,sj_a2789bdbc24f4aed,RPA Business Systems Analyst,Business Analyst,NaN,NaN,Amerihealth,"Philadelphia, PA 19107 (City Center East area)...",Philadelphia,PA,NaN,NaN,NaN,NaN,NaN,"['Office', 'SQL', 'Bachelor']"
2,job_15e7be7c9bf658e3,Quantitive Business Analyst - Strategic Data S...,Business Analyst,NaN,NaN,Apple,"Austin, TX+1 location",Austin,TX,NaN,NaN,NaN,NaN,NaN,"['Python', 'SQL', 'Bachelor']"
3,job_e8519e1ec2d60a16,Business Line Product Lifecycle Management (PL...,Business Analyst,Junior,NaN,NXP Semiconductors,"Austin, TX (West Oak Hill area)",Austin,TX,NaN,NaN,NaN,NaN,NaN,['Bachelor']
4,job_0545baf6560877d1,Global Markets Operations Asset Services Ops S...,Operations Analyst,Senior,NaN,Bank of America,"Jacksonville, FL 32246 (Windy Hill area)+4 loc...",Jacksonville,FL,NaN,NaN,NaN,NaN,NaN,['Excel']

In [3]:
Jobs_projekt.shape

(106999, 15)

In [4]:
Jobs_projekt.columns

Index(['ID', 'Job', 'Jobs_Group', 'Profile', 'Remote', 'Company', 'Location',
       'City', 'State', 'Salary', 'Frecuency_Salary', 'Low_Salary',
       'High_Salary', 'Mean_Salary', 'Skills'],
      dtype='object')

<h2 style="text-align: right;">נבדוק אילו ערכים רלוונטים</h2>

In [5]:
Jobs_projekt.isnull().sum()
#ערכים חסרים

ID                      0
Job                     0
Jobs_Group              0
Profile             67901
Remote              65501
Company                49
Location                0
City                11828
State                9279
Salary              61921
Frecuency_Salary    61921
Low_Salary          61921
High_Salary         61921
Mean_Salary         61921
Skills                  0
dtype: int64

<p style="text-align: right;">על פי הנתונים אפשר לראות שבכל המקצועות שמילאו את עמודת השכר מילאו גם את העמודות של השכר הגבוה, הנמוך והממוצע. לכן ניתן  
    להסיר את עמודת השכר מכיוון שהנתונים קיימים בעמודות הבאות</p>
    <p style="text-align: right;">  ID נסיר גם את עמודת ה</p>

 <p style="text-align: right;"> נתמקד רק במקצועות בהם מילאו את נתוני השכר</p>

In [7]:
Jobs_df = Jobs_projekt.drop(["Salary"], axis=1 )
Jobs_df = Jobs_projekt.drop(["ID"], axis=1 )

In [9]:
data_salary_df = Jobs_df.loc[Jobs_df["Low_Salary"] > 1]
data_salary_df.shape

(45078, 14)